* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Palanquin Dark', sans-serif;
    color: rgb(202, 204, 206);
}

body {
    background-image: url('image/cat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(10%, 25%, 50%, 100%);
    border: 2.4px solid white;
    border-radius: 13px;
    padding: 18px;
}

h1 {
    margin-bottom: 1em;
    margin-right: 2em;
    color: rgb(202, 204, 206);
    font-style: italic;
}

p {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 5px;
    color: rgb(202, 204, 206);
}

.head-container {
    display: flex;
    padding: .5em;
}

.label-check {
    display: none;
  }
  
  .hamburger-label {
    width: 0px;
    height: 30px;
    display: block;
    cursor: pointer;
  }
  
  .hamburger-label div {
    width: 30px;
    height: 5px;
    background-color: #fff;
    position: absolute;
  }
  
  .line1 {
    margin: 6px 0 0 0;
    transition: all .3s;
  }
  
  .line2 {
    margin: 16px 0 0 0;
    transition: 0.3s;
  }
  
  .line3 {
    margin: 26px 0 0 0;
    transition: 0.3s;
  }
  
  #label-check:checked + .hamburger-label .line1 {
    transform: rotate(25deg) scaleX(.57) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
  }
  
  #label-check:checked + .hamburger-label .line3 {
    transform: rotate(-25deg) scaleX(.57) translate(39px, 4.5px);
    border-radius: 0 50px 50px 50px;
  }
  
  #label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
  }

input {
    width: 25em;
    height: 2.3em;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    margin-bottom: 12px;
  }
  
input:active {
    background-color: rgb(204, 204, 204);
}

input:focus {
    background-color: rgba(204, 204, 204,0.5);
    transform: scale(1.05);
    /* box-shadow: -23px 13px 100px #969696,
               -59px -13px 100px #ffffff; */
  }

button {
    outline: none;
    cursor: pointer;
    width: 6.5em;
    height: 2em;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #606060;
    text-shadow: 0 1px #fff;
    margin-bottom: 10px;
  }
  
  button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  
  

.deleteAll-btn {
    width: 9em;
    height: 2em;
    font-size: 14px;
    font-weight: 900;
}


ul {
    font-size: 1.2em;
    font-weight: 600;
    list-style-type: none;
    margin-left: 4px;
}

ul a {
    color: rgb(202, 204, 206);
    font-size: 1.2em;
}

ul li {
    line-height: 1;
}